<div class="table">

    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Turmas
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <!-- <th></th> -->
                                <th>Alunos</th>
                                <th>
                                    Chamada
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Gabriel Brelaz Araujo</td>
                                <td>
                                    <select name="" id="">
                                        <option value="">Presente</option>
                                        <option value="">Falta</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        


        </div>
       

</div>

</div>