
    <div class="border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action">
          <fa-icon [icon]="faTachometerFast" class="fa-2x"></fa-icon>
          <span>Início</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <fa-icon [icon]="faCalendar" class="fa-2x"></fa-icon>
          <span>Calendário</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
        <fa-icon width="500px" [icon]="faChalkboardTeacher" class="fa-2x"></fa-icon>
        <span>Professores</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <fa-icon [icon]="faUserGraduate" class="fa-2x"></fa-icon>
          <span>Alunos</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <fa-icon [icon]="faUsers" class="fa-2x"></fa-icon>
          <span>Turmas</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <fa-icon [icon]="faLineChart" class="fa-2x"></fa-icon>
          <span>Relatórios</span>
        </a>
      </div>
    </div>
    
